.ticket-card{
    background-color: white;
    padding: 10px 15px 10px 15px;
    margin: 10px;
    border-radius: 5px;
    /* width: 160px; */
    /* text-align: center; */
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
}
.ticket-title{
    font-size: x-small;
    font-weight: 600;
    padding: 10px 3px;
}

.ticket-id{
    font-size: x-small;
    font-weight: 500;
    padding: 2px;
    color: gray;
}
.tags{
    padding: 0px 5px;
    border-radius: 5px;
    border: 1px solid gray;
    width: fit-content;
    height: fit-content;
    font-size: x-small;
    font-weight: 500;
    color: gray;
}