.App {
  text-align: center;
  font-family: Arial, sans-serif;
  
}

.kanban-board {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: gray;
}

.kanban-column {
  flex: 1;
  margin: 0 10px;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
}

.ticket-card {
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.display-menu {
  margin-bottom: 20px;
}

.display-menu select {
  padding: 5px;
  font-size: 16px;
}
